
$fontSize: .9375rem;

$spartanFamily: 'Spartan', sans-serif;

$white: #fff;
$headerBG: hsl(180deg, 29%, 50%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$lightGrayishCyan: hsl(180, 52%, 96%);
$lightGrayishCyan2: hsl(180, 31%, 95%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);

$breakpoints-up: (
  "mobile": 23.4375rem,
  "desktop": 90rem
);

$breakpoints-down: (
  "mobile": 23.375rem,
  "desktop": 89.9375rem
);
