
$fontSize: .9375rem;

$spartanFamily: 'Spartan', sans-serif;

$white: #fff;
$headerBG: hsl(179deg, 29%, 51%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$lightGrayishCyan: hsl(180, 52%, 96%);
$lightGrayishCyan2: hsl(180, 31%, 95%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);
